.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav{
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.box {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.image {
    width:42px;
    height:42px;
    border:0;
}



#element1 {display:inline-block;margin-right:10px;} 
#element2 {display:inline-block;} 